<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
      
        <title>Angajare </title>  
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

<body>
	<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()--> 
	<main>
		<section>
			<h2>Galerie animata</h2>
		<p>- Galeria prezinta o parte din autocarele firmei. </p>
		</section>
		<section id="sectiune-galerie-animata">
			<div id="galerie-animata" class="galerie-a">
				<% for (let imag of locals.imagini){  %>
						<figure>
					<picture>
						<!-- il ia pe primul care se potriveste cu query-ul din media-->
						<source srcset="/<%-imag.small%>" media="(max-width:700px)"/>
						<img src="/<%-imag.normal%>" alt="text"/>
					</picture>
					<figcaption><%-imag.descriere%></figcaption>
				</figure>
				<% } %>
			</div>
		</section>
	</main>
	<%- include("../fragmente/footer") %>
</body>


</html>
