<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
	 <link href="/resurse/css/video.css" rel="stylesheet" type="text/css" />
        <title>Angajare </title>  
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

<body>
	<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()--> 
	<main>
		<section>
			<h3> Detalii posturi disponibile: </h3>
		<p>- Sofer autobuz categoria D </p>
		<p>Cerințe la angajare: deținător de card tahograf, deținător de atestat, disponibil ocazional la plecări în curse interne și externe.
		</section>
		<%- include("../fragmente/video") %>
		<%- include("../fragmente/galerie_statica.ejs") %>
	</main>
	<%- include("../fragmente/footer") %> <!-- afiseaza rezultatul functiei include()--> 
</body>


</html>
