<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
        <link href="/resurse/css/banner.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/animatie-banner.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/stilizare-hr.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/stilizare-tabel.css" rel="stylesheet" type="text/css" />
        <link href="/resurse/css/stilizare-taburi.css" rel="stylesheet" type="text/css" />
        

        <title>SC SOG TRANS SRL </title>
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

    <body>
<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()-->     
<div id="printb">
  <button class="printeaza" onclick="window.print()">[Printează]</button>
</div>
<main id="grid-container">
  <section id="item1"> 
    <article>
        <h2>Despre companie</h2>
        <p>   <b>SC SOG TRANS SRL</b> este o societate de <b>transport persoane</b> ce are ca principal obiect de activitate transportul public de persoane  intern si international cu plecare preponderent din Bucuresti.</p>
        <p> Oferim servicii  pentru grupuri organizate de minim 4 persoane (excursii, transport angajati, afterschool scoli, gradinite etc). </p>
        <p> De asemenea, oferim si <b>posibilitatea de angajare</b>, pentru soferii de categorie D. </p>
        <q> Mai mult decât fascinaţia de a vedea locuri noi, călătoriile sunt evadări fericite spre necunoscut. </q>
        <article>
      </section>
  <section id="item3">Calendarul de evenimente
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, assumenda! </p>
  </section>
  <section id="item2">
    <section id="pr_lucru">
                <h2>Program de lucru pentru rezervari</h2>
                <div class="table-container">
                <table id="tab-pr_lucru">
                    <thead>

                        <tr>
                            
                            <th class="active">Zi</th>
                            <th class="active">Interval dimineata</th>
                            <th class="active">Pauza de masa</th>
                            <th class="active">Interval seară</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td class="active">Luni</td>
                            <td class="active">10-12</td>
                            <td class="active">12-14</td>
                            <td class="active">14-20</td>
                        </tr>
                        <tr>
                            
                            
                            <td class="active">Marti</td>
                            <td class="active">9-12</td>
                            <td class="active">12-14</td>
                            <td class="active">14-21</td>
                        <tr>
                            
                            
                            <td class="active">Miercuri</td>
                            <td class="active">9-11</td>
                            <td class="active">11-13</td>
                            <td class="active">14-21</td>
                        <tr>
                            
                            
                            <td class="active">Joi</td>
                            <td class="active">9-11</td>
                            <td class="active">11-13</td>
                            <td class="active">14-21</td>
                        </tr>
                        <tr>
                            
                            
                            <td class="active">Vineri</td>
                            <td class="active">9-12</td>
                            <td class="active">12-14</td>
                            <td class="active">14-19</td>
                        </tr>
                        <tr>
                           
                            <td class="active">Sambata</td>
                            <td class="active">10-12</td>
                            <td class="active">12-13</td>
                            <td class="active">13-16</td>
                        </tr>
                        <tr>
                           
                            <td class="active">Duminica</td>
                            <td class="active">10-14</td>
                            <td class="active">-</td>
                            <td class="active">inchis</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                          
                          
                          <td colspan="4" style="text-align:center;" class="active">Nu se fac rezervari in zilele cu sarbatoare legala. </td>
                        </tr>
                    </tfoot>
                </table> 
                </div>
            </section>
    </section>  
  <section id="item4">Anunturi 
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam quo debitis voluptatem doloremque recusandae consectetur consequuntur dolorem aspernatur sequi, eius accusamus sapiente deserunt molestiae, vero animi aliquid odit tempora consequatur?</p>
  </section>
  <section id="item8">
       <section>
        <p><b> Va putem pune la dispozitie urmatoarele <em>tipuri de microbuze si autocare</em>: </b></p>
        <ul>
          <li> Volkswagen Transporter  8+1 locuri;</li>
          <li>Mercedes Vito 7+1 locuri; </li>
          <li>Minibus ISUZU  26+1+1 locuri;</li>
        </ul>
        </section>
          <p class="butoane"> Clientii nostri: </p>
        <ul>
        <li><a href="https://ro.wikipedia.org/wiki/FCM_Bac%C4%83u" target="_blank">FCM Bacau</a> </li>
        <li><a href="https://www.agricola.ro/" target="_blank">Agricola Bacau</a> </li>
        </ul>



        <iframe name="ifr-video" src="https://www.youtube.com/embed/WzPOMJOyUv0" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="flex-list">
        <div class="flex-button">
     <button class="agricola" > <a class="agricola-text" href="https://www.youtube.com/embed/WzPOMJOyUv0" target="ifr-video">Agricola</a> </button>
         <button class="css"><a class="css-text" href="https://www.youtube.com/embed/zGcIA3WAXkU" target="ifr-video">CSS</a> </button>
        </div>
        </div>
  </section>
  <section id="item5">Lista de utilizatori online
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </section>
  <section id="item7">
    Date despre site și server
    <p> Lorem ipsum dolor sit amet consectetur.</p>
    </section>  
  <section id="item6">Date despre utilizator și statistici
    <p> Olaru Elena:  </p>
    <p><%- ip %> </p>
  </section> 

  <%- include("../fragmente/galerie_statica.ejs") %>
</main>

<%- include("../fragmente/footer") %> <!-- afiseaza rezultatul functiei include()-->
<div id="banner">
		<p>Proiect scolar</p>
	</div>
  <%- include("../fragmente/watermark.ejs") %>
<!-- <script>
    const alertHTML = '<div class="alert">Proiect Scolar</div>';
    document.body.insertAdjacentHTML('beforeend', alertHTML);
    setTimeout(() => document.querySelector('.alert').classList.add('hide'), 3000);
  </script> -->

</body>


</html>
