<!DOCTYPE html>

<html lang="ro">

    <head>
	<meta name="description" content="Suntem o societate infiintata in anul 2002 cu obiectivul principal de activitate Transport Persoane Intern; din pasiunea pentru acest domeniu am ales mereu sa ne perfectionam si sa devenim un lider in domeniul transportului de persoane.">
	 <meta name="keywords" content=" transport, persoane, intern, angajare">
      
        <title>SC SOG TRANS SRL</title>  
<%- include("../fragmente/head") %> <!-- afiseaza rezultatul functiei include()--> 
    </head>

<body>
	<%- include("../fragmente/header") %> <!-- afiseaza rezultatul functiei include()--> 
	<main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Pret: <span class="pret"><%- locals.prod.pret_km %> </span></p>
                    <p>Caracteristici: <span class="ingrediente"><%- locals.prod.caracteristici %> </span></p>
                    <p>Culoare: <span class="culoare"><%- locals.prod.culoare %> </span></p>
                    <p>Tip transport: <span class="calorii"><%- locals.prod.tip_transport %> </span></p>
                    <p>Numar locuri: <span class="gramaj"><%- locals.prod.nr_locuri %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Aer conditionat: <span class="pt_diabetici"><%- locals.prod.aer_conditionat %> </span></p>
                    <p>Data achizitionare: <span class="categorie"><%- locals.prod.data_achizitionare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                    </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>

   